
<html>
<head>
<link href="../lg.css" rel="stylesheet" type="text/css" media="screen, projection"  />
<link rel="shortcut icon" href="../favicon.ico" />
<title>Linux Gazette : March 2006 (#124) 
</title>

<style type="text/css" media="screen, projection">
<!--
#twdt {
	font-weight:bold;
	font-size:12px;
}

#extra {
	margin-top:20px;
}

#mastheadbox {
	margin-top:20px;
	margin-bottom:40px;
}

-->
</style>

<link rel="alternate" type="application/rss+xml" title="LG RSS" href="https://linuxgazette.net/124/lg.rss" />
<link rel="alternate" type="application/rdf+xml" title="LG RDF" href="https://linuxgazette.net/124/lg.rdf" />
<link rel="alternate" type="application/atom+xml" title="LG Atom" href="https://linuxgazette.net/124/lg.atom.xml" />

</head>

<body>


<img src="../gx/2003/newlogo-blank-200-gold2.jpg" id="logo" alt="Linux Gazette"/>
<p id="fun">...making Linux just a little more fun!</p>



<div class="articlecontent">





<div class="content lgcontent">

<h2>March 2006 (#124):</h2>

<ul>


	<li><a href="lg_bytes.html">News Bytes</a>, by <i>Howard Dyckoff</i></li>

	<li><a href="dutta.html">Interfacing with the ISA Bus</a>, by <i>Abhishek Dutta</i></li>

	<li><a href="orr.html">PyCon 2006 Dallas</a>, by <i>Mike Orr (Sluggo)</i></li>

	<li><a href="pfeiffer.html">Migrating a Mail Server to Postfix/Cyrus/OpenLDAP</a>, by <i>Ren&eacute; Pfeiffer and pooz</i></li>

	<li><a href="smith.html">Build a Six-headed, Six-user Linux System</a>, by <i>Bob Smith</i></li>

	<li><a href="collinge.html">HelpDex</a>, by <i>Shane Collinge</i></li>

	<li><a href="ecol.html">Ecol</a>, by <i>Javier Malonda</i></li>

	<li><a href="lg_launderette.html">The Linux Launderette</a>

</ul>

<p id="twdt">
<i>or read <a href="TWDT.html">TWDT</a></i>
</p>

</div>



<div class="content" id="extra">
<style>
<!--
.xlinks body { max-width: 750px; }
.xlinks li { margin-bottom: 15px; }
.xlinks a { text-decoration: none; font-weight: bold; }
-->
</style>

<div class="xlinks">
<a href="http://www.gnomejournal.org/">
<img src="../gx/gnomejournal.png" alt="Gnome Journal" width="125" height="38" border="1"></a>

<p> Current GNOME Journal articles:

<ul>
<li>
<dl>
<dt><a href="http://www.gnomejournal.org/article/37/gstreamer-010---whats-in-it-for-the-users">GStreamer 0.10 - What's in it for the Users</a>
<dd>

Christian Schaller shows what the GStreamer team has been working on for
the new 0.10 release. With new additions like an automatic plugin registry,
support for the RTP protocol and greatly improved playback support, you’ll
want to keep on reading!

</dl>
</li>

<li>
<dl><dt><a
href="http://www.gnomejournal.org/article/38/de-forming-models-with-sharpconstruct">(De-)Forming Models with SharpConstruct</a>
<dd>

Creating 3D models usually requires abstract imagination; one needs to
construct and merge geometric figures together. Claus Schwarm looks at
SharpConstruct which uses a different, more visual approach to 3D
modelling.

</dl>
</li>

<li>
<dl><dt><a
href="http://www.gnomejournal.org/article/40/behind-the-scenes-jeff-waugh">Behind the Scenes: Jeff Waugh</a>
<dd>

Lucas Rocha launches the Behind the Scenes series which aims to bring
informative and entertaining profiles of people who contribute to GNOME.
This is based on “The People Behind KDE” initiative. In this issue, he
interviews Jeff Waugh, the perky pants guy. Enjoy!

</dl>
</li>

<li>
<dl><dt><a
href="http://www.gnomejournal.org/article/36/writing-a-widget-using-cairo-and-gtk28-part-2">Writing a Widget Using Cairo and GTK+2.8, Part 2</a>
<dd>

In this article Davyd Madeley continues his tutorial on writing a clock
widget using GTK and Cairo. 

</dl>
</li>

<li>
<dl><dt><a
href="http://www.gnomejournal.org/article/39/marketing-gnome-part-two-segmentation-targeting-and-positioning">Marketing GNOME Part Two: Segmentation, Targeting and Positioning</a>
<dd>

John Williams takes you through some of his own thoughts on marketing in
general and how that applies to GNOME as a product that will compete
effectively in a very cut-throat market. This is the second installment of
a series on marketing.

</dl>
</li>

</ul>
</div>


</div>


<div class="content" id="mastheadbox">

<p>
	Linux Gazette Staff:
</p>

<ul id="stafflist">
<li><b>Editor-in-Chief</b>: Ben Okopnik
<li><b>Contributing Editors</b>: Rick Moen, Mike Orr, Thomas Adam, Jimmy O'Regan
<li><b>The Answer Guy</b>: Jim Dennis
<li><b>TAG Editors</b>: Heather Stern, Thomas Adam
<li><b>LG Laundrette Editor</b>: Jimmy O'Regan
<!-- <li><b>Linux Weekend Mechanic</b>: Thomas Adam -->
<li><b>News Bytes Editor</b>: Howard Dyckoff
<li><b>Code Wranglers</b>: Mike Orr, Ben Okopnik, Heather Stern, Jimmy O'Regan
<li><b>Sysadmin Gang</b>: T.R. Fullhart (Kayos)
<p>
<li><b>Proofreaders:</b><br>
<ul>
<li>Rick Moen <i>(Team Coordinator)</i>
<li>Jimmy O'Regan
<li>David Richardson
</ul>
</ul>


</div>






</div>







<div id="navigation">

<a href="https://linuxgazette.net/index.html">Home</a>
<a href="../faq/index.html">FAQ</a>
<a href="../lg_index.html">Site Map</a>
<a href="../mirrors.html">Mirrors</a>
<a href="../mirrors.html">Translations</a>
<a href="https://linuxgazette.net/search.html">Search</a>
<a href="../archives.html">Archives</a>
<a href="https://linuxgazette.net/authors/index.html">Authors</a>
<a href="../contact.html">Contact Us</a>

</div>



<div id="breadcrumbs">

<a href="../index.html">Home</a> &gt; 
March 2006 (#124)

</div>





<img src="../gx/tux_86x95_indexed.png" id="tux" alt="Tux"/>




</body>
</html>

