BODY { BACKGROUND: white; color: black; link: red; alink: yellow; vlink: blue }
BODY.top { background-image: url(https://linuxgazette.net/issue45/gibbs/buttons/backgrnd.gif);
 color: darkviolet; link: red; alink: yellow; vlink: blue }
P.LG { font-size: 14pt; line-height: 15pt; text-indent: 1.00cm; text-align:justify }
H1 { border: solid brown; background: burlywood; color: brown;  text-align: center }
H2 { border: solid burlywood; background: oldlace; text-align: left }
DL { text-align: justify; border: solid brown; background: seashell; margin-right: 0.50cm }
PRE { text-indent: -1.00cm; color: darkblue}
OL { list-style: decimal; margin-right: 1.50cm; text-align: justify }
UL { list-style: inside; margin-right: 1.50cm; text-align: justify }
LI {color: red; }
TABLE { cell-padding: 2px; cell-spacing: 5px; background: navajowhite; }
TD { color: navy }
TABLE.top {cell-padding: 2px; cell-spacing: 5px; background: limegreen }
