<!--startcut  ==============================================-->
<!-- *** BEGIN HTML header *** -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML><HEAD>
<META NAME="generator" CONTENT="lgazmail v1.4F.y">
<TITLE>The Answer Gang 84: read the manual!</TITLE>
</HEAD><BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#0000FF" VLINK="#0000AF"
ALINK="#FF0000">
<!-- *** END HTML header *** -->
<!-- begin 2 -->
<H3 align="left"><img src="../../gx/dennis/qbubble.gif" 
	height="50" width="60" alt="(?) " border="0"
	>read the manual!</H3>


<p><strong>From Benjamin A. Okopnik, John Karns, Ashwin N 
</strong></p> 

<blockquote><IMG SRC="../../gx/dennis/bbub.gif" ALT="(!)"
	HEIGHT="28" WIDTH="50" BORDER="0"
	> [Heather] A merry little thread wherein we got almost no data to work with,
got us giving such incredibly generic answers that this is the good
part.
</blockquote>
<P><STRONG>
<IMG SRC="../../gx/dennis/qbub.gif" ALT="(?)"
	HEIGHT="28" WIDTH="50" BORDER="0"
	> 
If i know the syntax of the command then i will be able
to use it in my c program through popen or system call.
</STRONG></P>
<P><STRONG>
{{{
All of this information is available via the "man" program. The
Unix/Linux information infrastructure is tremendously powerful (although
admittedly rather non-intuitive for a new user.) I suggest that you make
it your friend.
</STRONG></P>
<P><STRONG>
For more information on using it, see "man", "apropos", "whatis",
"whereis", and (if your tastes run to torturing small defenseless
animals and pushing old ladies under passing automobiles) "info".
{{{{
</STRONG></P>
<blockQuote>
<IMG SRC="../../gx/dennis/bbub.gif" ALT="(!)"
	HEIGHT="28" WIDTH="50" BORDER="0"
	> [John] 
As a person who generally avoids emacs ( xemacs is a step in right
direction, but hey, I'm already familiar with vim ) I've found the
lynx-like utility "pinfo" to be a painless way to view info files.
</blockQuote>
<blockQuote>
{{{
Also,
make sure to check out the documentation that literally every installed
program places in "<TT>/usr/doc/&lt;program_name&gt;</TT>" or
"<TT>/usr/share/&lt;program_name&gt;</TT>" on your system; this is an additional
treasure trove of information.
{{{{
</blockQuote>
<blockQuote>
<IMG SRC="../../gx/dennis/bbub.gif" ALT="(!)"
	HEIGHT="28" WIDTH="50" BORDER="0"
	> [Ashwin] 
For users of <A HREF="http://www.kde.org/">KDE</A>/<A HREF="http://www.gnome.org/">GNOME</A> here are a couple of painless (and also colorful)
ways of viewing their manuals or info.
</blockQuote>

<h4 align="center"><br>KDE
</h4>
<blockQuote>
KDE users can use konqueror for viewing their docs.
Just type
</blockQuote>

<blockquote><code><font color="#000033"><br>man:/fortune
</font></code></blockquote>
<blockQuote>
in the addressbar to view the manpage of "fortune".
</blockQuote>
<blockQuote>
Incase you need to access a particular section of a manpage,
</blockQuote>

<blockquote><code><font color="#000033"><br>man:/ip(7)
</font></code></blockquote>
<blockQuote>
should do it.
</blockQuote>
<blockQuote>
To view info,
</blockQuote>

<blockquote><code><font color="#000033"><br>info:/gcc
</font></code></blockquote>

<h4 align="center"><br>GNOME
</h4>
<blockQuote>
For GNOME users there is gnome-help-browser.
Just type
</blockQuote>

<blockquote><code><font color="#000033"><br>man:fortune
</font></code></blockquote>
<blockQuote>
or
</blockQuote>

<blockquote><code><font color="#000033"><br>man:ip(7)
</font></code></blockquote>
<blockQuote>
in it's addressbar to get your manpages.
</blockQuote>
<blockQuote>
And to view info files,
</blockQuote>

<blockquote><code><font color="#000033"><br>info:gcc
</font></code></blockquote>
<blockQuote>
The advantage with viewing man pages like this is that you can switch to
a particular manpage you see listed there by just clicking on it.
</blockQuote>
<blockQuote>
Similarly, info painlessly transforms into just simple HTML-like
browseable docs.
</blockQuote>
<blockQuote>
<IMG SRC="../../gx/dennis/bbub.gif" ALT="(!)"
	HEIGHT="28" WIDTH="50" BORDER="0"
	> [Ben] 
The Linux documentation subsystem is large, accessible and very
helpful... <EM>if</EM> you know what you're doing. If you don't, Linux looks
like a difficult puzzle - "a maze of twisty passages, all alike". If
you're looking for information on a program, here is a quick way to the
treasure hoard:
</blockQuote>

<blockquote><em><font color="#000033"><br># I need to know about everything that deals with TIFF files.
<br>ben@Fenrir:~$ apropos TIFF
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># Whoa, man! That was too much stuff! I just want _programs!_
<br>ben@Fenrir:~$ apropos TIFF | grep '(1'
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># OK, I know which one I want ("ras2tiff"); how do I tell where it is?
<br>ben@Fenrir:~$ whereis ras2tiff
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># I know the name of a program ("foo"), but not what it does. What now?
<br>ben@Fenrir:~$ whatis foo
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># Naw, I want a _complete_ explanation, syntax, descriptions, etc.
<br>ben@Fenrir:~$ man foo
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># But I *HATE* man pages! I want more structure, indexes, etc...
<br>ben@Fenrir:~$ info foo
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># Command-line stuff, YUCK. Can I have a pretty GUI?
<br>ben@Fenrir:~$ tkman foo
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># I meant for "info"!
<br>ben@Fenrir:~$ tkinfo foo
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># "man" tells me that the program ("blarg") is undocumented. Help!
<br>ben@Fenrir:~$ blarg -?
<br>ben@Fenrir:~$ blarg -h
<br>ben@Fenrir:~$ blarg --help
<br>ben@Fenrir:~$ ls /usr/doc/blarg*
<br>ben@Fenrir:~$ ls /usr/share/doc/blarg*
<br>ben@Fenrir:~$ ls /usr/lib/blarg*
</font></em></blockquote>

<blockquote><em><font color="#000033"><br># What I *really* want is a Wind*ws help file, with pretty pictures and
<br># instructions for pressing the "any" key! And I want it to say "Your
<br># mouse is unplugged - click 'OK' to continue". And, and, I want a big
<br># juicy burger with onions and lots of cheese and just a little
<br># ketchup...
<br>ben@Fenrir:~$ export YOU_ARE_REALLY_GETTING_ON_MY_NERVES=1
<br>ben@Fenrir:~$ su -c 'slay -9 annoying_user'
<br>Password:
</font></em></blockquote>
<blockQuote>
Note: several of the programs mentioned above are not installed by
default on most distros. Download, install, and be joyful.
</blockQuote>

<!-- end 2 -->
<P> <hr> </p>
<!-- *** BEGIN copyright *** -->
<hr>
<CENTER><SMALL><STRONG>
<h5>
<br>Copyright &copy; 2002
<br>Copying license <A HREF="2.html">http://www.linuxgazette.net/copying.html</A>
<BR>Published in Issue 84 of <i>Linux Gazette</i>, November 2002</H5>
</STRONG></SMALL></CENTER>
<!-- *** END copyright *** -->
<HR>

<!--startcut ======================================================= -->
<P> <hr> 
<!-- begin tagnav ::::::::::::::::::::::::::::::::::::::::::::::::::-->
<p align="center">
<table width="100%" border="0"><tr>
<td align="right" valign="center"
	><IMG ALT="" SRC="../../gx/navbar/left.jpg"
        WIDTH="14" HEIGHT="45" BORDER="0" ALIGN="middle" border="0"
><A HREF="../index.html"
	><IMG SRC="../../gx/navbar/toc.jpg" align="middle"
              ALT="[ Table Of Contents ]" border="0"></A
><A HREF="../lg_answer.html"
	><IMG SRC="../../gx/dennis/answertoc.jpg" align="middle"
              ALT="[ Answer Guy Current Index ]" border="0"></A></td>
<td align="center" valign="center"><A HREF="../lg_answer.html#greeting"><img align="middle"
	src="../../gx/dennis/smily.gif" alt="greetings" border="0"></A> &nbsp;
  <A HREF="https://linuxgazette.net/issue84/tag/bios.html">Meet&nbsp;the&nbsp;Gang</A> &nbsp;
  <A HREF="1.html">1</A> &nbsp;
  <A HREF="2.html">2</A> &nbsp;
  <A HREF="3.html">3</A> &nbsp;
  <A HREF="4.html">4</A> 
  </td>
<td align="left" valign="center"><A HREF="https://linuxgazette.net/tag/kb.html"
	><IMG SRC="../../gx/dennis/answerpast.jpg" align="middle"
              ALT="[ Index of Past Answers ]" border="0"></A
><IMG ALT="" SRC="../../gx/navbar/right.jpg" align="middle"
        WIDTH="14" HEIGHT="45" BORDER="0"></td></tr></table>
</p>
<!-- end tagnav ::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<!--endcut ========================================================= -->
<P> <hr> 
<!--startcut ======================================================= -->
<CENTER>
<!-- *** BEGIN navbar *** -->
<!-- *** END navbar *** -->
</CENTER>
</p>
<!--endcut ========================================================= -->
<!--startcut ======================================================= -->
</BODY></HTML>
<!--endcut ========================================================= -->
